doctype html
html 
  head 
    title='Ecommerse - Info'
    link(rel='stylesheet' href='../../style.css')
  body
    h2 Server Info
    div(class='server-info') 
        ul 
            li OS: #{os}
            li Node version: #{node}
            li Memory: #{memory}
            li Path: #{path}
            li Process ID: #{process_ID}
